.margin{
    border-bottom: 10px;
    border-color: dimgrey;
}
.row{
    position :relative;
    top:-125px;
    margin-bottom:-125px;
}
.profile{
    text-align: center;
    position:relative;
    top:-125px;
}
.img-profile{
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
    background-color: white;
}
.colum{
    margin-top: 30px;
}
.text-name{
    text-align: center;
}
.title{
    color:dimgrey;
}

.lbl-edit{
    top: 60px;
    left: 90%;
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: gray;
    border-radius: 100px;
    position:relative;
    cursor: pointer;
}
.lbl-edit:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background:white;
    border-radius: 100%;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}
#btn-edit{
    display: none;
}
#btn-edit:checked~ .lbl-edit{
    background-color: dodgerblue;
}
#btn-edit:checked~ .lbl-edit::after{
    left: 28px;
}
.text{
    position: absolute;
    display: block;
    margin-top: 30px;
    left: 88%;
}