<header class="head">
    <nav class="navbar nav-proy">
        <a class="navbar"><img class="logo" src="../../../assets/APLogo.png"></a>
        <img class="ico" src="../../../assets/instagram.png">
        <img class="ico" src="../../../assets/github.png">
        <img class="ico"  src="../../../assets/linkedin.png">
        <a routerLink="/login" class="btn btn-outline-light btn-rounded btn-in"(click)="cerrarSesionUsuario()">{{text}}</a>
      </nav>
      <div class="banner-main">
        <img class="banner" src="../../../assets/space.jpg" alt="Banner">
      </div>
</header>
