.head{
    background-color: #0072BB;
}
.ico{
    max-width: 40px;
    left:0;
}
.logo{
    margin-left: 4em;
    max-width: 140px;
    max-height:70px;
}
.btn-in{
    margin-right:4em;
}
.banner{
    background-color: white;
    max-height: 450px;
    width: 100%;
}