<div class="main">
    <h4>Educación</h4>
    <div class="container">
        <div class="row" *ngFor="let instituto of institutos">
            <div class="col-lg-3">
                Imagen
            </div>
            <div class="col-lg-9 instituto" >
                <p>{{instituto.nombre}}</p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dolor necessitatibus aliquam adipisci nihil, ea laborum, cum odit qui ipsum natus incidunt sed perspiciatis autem in aliquid rerum libero alias!
            </div>
        </div>
    </div>
</div>
