.skills-cont{
    padding-right: 0;
    text-align: center;
}
h3{
    text-align: center;
    
}
.skill-contenedor{
    padding-right: 0;
}
.skill{
    margin:10px;
    /*list-style-type: none;*/
    display:inline-block;
}